.home {
    &__content {
        margin: 100px 80px 0 80px;
        display: flex;
        justify-content: space-between;
            &__presentation {
                font-size: 50px;
                font-weight: 700;
                line-height: 80px;
                padding: 176px 0 140px 98px;
            }
            &__button {
                background-color: #5843E4;
                color: white;
                font-family: 'Comfortaa';
                font-size: 20px;
                border: none;
                border-radius: 29px;
                width: 261px;
                height: 40px;
                margin-bottom: 228px;
                margin-left: 98px;
                    &:hover {
                        cursor: pointer;
                    }
            }
            &__picture {
                max-height: 506px;
                margin-top: 175px;
                margin-right: 250px;
            }
    }
}