.loader {
    padding: 20px;
    border: 10px solid #5843E4;
    border-bottom-color: transparent;
    border-radius: 30px;
    animation: rotate 1s infinite linear;
    height: 0;
    width: 0;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 55px;
}